{% for fs in filesystems %}{% if 'nfs' in fs and fs.nfs %}/netstore/{{ fs.name }} {{ fs.nfs_clients }}(rw,sync,root_squash{% if 'nfs_async' in fs and fs.nfs_async %},async{% endif %})
{% endif %}{% endfor %}
